.wrapper{
    margin-top: 5em;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 673px;

    .week{
        width: 10px;
        height: 88px;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        .day{
            background: rgb(86, 126, 221);
        width: 10px;
        height: 10px;
        }
    }

}